:root {
  --primary-color: #222946;
  --accent:#37B667;
  --heading-text:#020511;
  --body-text:#98999F;
  --bg-color: #E9ECFC;
}

html {
  font-size: 16px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
=============================================================
Grid
=============================================================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
=============================================================
Custom Styles
=============================================================
*/

body {
  font-family: 'Roboto', sans-serif;
}

.container {
 max-width: 85%;
 /* max-width: 1250px; */
 margin: 0 auto;
 /* margin: 0 2rem; */
 padding: 1rem 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.padding {
  padding: 4rem 0;
}  

img {
  width: 100%;
}

.header,
.footer {
  /* background-color: #222946; */
  background-color: var(--primary-color);
}

/*
=============================================================
Headings/Paragrahs
=============================================================
*/
.heading,
.section-heading {
  font-weight: 500;
  color: var(--heading-text);
  font-family: 'Roboto Slab', serif;
}

.hero-text,
.section-text {
  color: var(--body-text);
}

.heading {
  font-size: 2.4rem;
}

.hero-text {
  font-size: 1.3rem;
  margin: 1.5rem 0;
  line-height: 1.5;
}

.blog-section h2{
  text-align: center;
}

.section-heading {
  font-size: 1.8rem;
  margin: 20px 0;
}

.section-text {
  line-height: 1.2;
  margin: 1rem 0;
}
/*
=============================================================
Buttons
=============================================================
*/

.btn {
  display: inline-block;
  color: #fff;
  background-color: var(--accent);
  border-radius: 5px;
}

.primary-btn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.secondary-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
}

/*
=============================================================
Header
=============================================================
*/
.header {
  text-transform: uppercase;
}

.logo {
  flex: 0 1 12%;
} 

.nav-menu {
  display: flex;
}

.nav-menu-item a {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 2rem;
  font-family: 'Roboto', sans-serif;
}

.nav-menu-item a:hover,
.active a {
  color: var(--accent);
}

/*
=============================================================
Hero Section
=============================================================
*/
.hero-section {
  background-color:var(--bg-color);
}

.col-1-2 {
  flex: 0 1 48%;
}

/* .figure {
  flex: 0 1 50%;
} */

/*
=============================================================
BLog Section
=============================================================
*/
.blog {
  flex: 0 1 31%;  
  margin-top: 2%;       
}

.blog img {
  height: 250px;
  object-fit: cover;
}
/*
=============================================================
Footer Section
=============================================================
*/
.footer {
  color: var(--body-text);
  font-size: 1.8rem;
  padding: 1.8rem 0;
}

.icon {
  display: flex;
}

.fab {
  color: var(--body-text);
  margin-right: 30px;
  border-radius: 8px;
}

/*
=============================================================
Media Queries
=============================================================
*/

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    /* margin: 0 5rem; */
  }

  .flex-between {
    /* display: flex; */
    flex-direction: column;
  }

  .nav-menu {
    margin-bottom: 1rem;
  }

  .nav-menu-item a{
    margin: 0 1rem;
  }
  .hero {
    flex-direction: column-reverse;
    /* justify-content: space-between; */
    padding: 0 0 2rem 0;
  }

  .hero img {
    margin: 2rem 0;
  }

  .logo {
    max-width: 15vw;
    margin-bottom: 1.5rem;
  }

  .blog-section {
    padding-bottom: 0px;
  }

  .blog{
    padding-bottom: 1.5rem;
  }

  small {
    margin-bottom: 1rem;
  }

  .fab {
    /* margin-right: 0; */
    margin: 0.5rem 1rem;
  }
}